::-moz-selection {
  /* Code for Firefox */
  background-color: #0093df;
  color: #fff; }

::selection {
  background-color: #0093df;
  color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300; }

body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative; }

ol, 
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

select {
  display: block; }

figure {
  margin: 0; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a, 
a:focus,
a:hover {
  text-decoration: none;
  outline: 0; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.card-panel {
  margin: 0;
  padding: 60px; }


 /* Typography */
.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
  font-size: 1em;
  line-height: inherit; }

.gray-bg {
  background: #f9f9ff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #222222; }

h1,
.h1 {
  font-size: 36px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 24px; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 16px; }

h6,
.h6 {
  font-size: 14px;
  color: #222222; }

td,
th {
  border-radius: 0px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table; }
.clear::after {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.display-table {
  display: table; }

.light {
  color: #fff; }

.dark {
  color: #000; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.container.fullwidth {
  width: 100%; }
.container.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-padding {
  padding: 0; }

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important; } }

.section-title-wrap {
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .section-title-wrap {
      margin-bottom: 40px; } }
  .section-title-wrap h1 {
    font-weight: 100;
    margin-bottom: 15px;
    line-height: 36px !important; }
    @media (max-width: 768px) {
      .section-title-wrap h1 {
        margin-bottom: 10px;
        font-size: 30px; } }
  .section-title-wrap p {
    font-weight: 400;
    max-width: 492px;
    margin: 0 auto; }

    /* REALLY NEED>?????????????????? */
.whole-wrap {
  background-color: #f9f9ff; }

@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll; } }

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-gallery-image:hover {
    opacity: .8; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }
  .unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #0093df;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%; }

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-checkbox input:checked + label {
      background: url(../img/elements/primary-check.png) no-repeat center center/cover;
      border: none; }

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-checkbox input:checked + label {
      background: url(../img/elements/success-check.png) no-repeat center center/cover;
      border: none; }

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer; }
  .disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-checkbox input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-checkbox input:checked + label {
      background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
      border: none; }

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px; } }

/* Header */
.header-top {
  min-height: 40px;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  @media (max-width: 992px) {
    .header-top {
      display: none; } }
  .header-top .container {
    padding: 0 30px; }
  .header-top a {
    font-size: 14px; }
  .header-top ul li {
    display: inline-block; }
  .header-top .header-top-left {
    text-align: left; }
    .header-top .header-top-left i {
      color: #c0c4cf;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header-top .header-top-left a {
      margin-right: 20px; }
    .header-top .header-top-left a:hover {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .header-top .header-top-left a:hover i {
        color: #fff; }
  .header-top .header-top-right {
    text-align: right; }
    .header-top .header-top-right a {
      margin-left: 10px;
      color: #222222;
      font-weight: 400; }
      .header-top .header-top-right a .lnr {
        display: none;
        font-weight: 700; }
      .header-top .header-top-right a.book-now {
        background: #0093df;
        color: #fff;
        padding: 12px 29px;
        font-size: 13px; }
        .header-top .header-top-right a.book-now:hover {
          background: #fff;
          color: #0093df;
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1); }
    @media (max-width: 480px) {
      .header-top .header-top-right a .lnr {
        display: inline-block; }
      .header-top .header-top-right a .text {
        display: none; } }

.main-menu {
  padding: 20px 30px; }

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }

#header.header-scrolled {
  transition: all 0.5s;
  background-color: rgba(4, 9, 30, 0.9); }
  #header.header-scrolled a {
    color: #fff; }
  #header.header-scrolled .main-menu {
    border-color: transparent; }
    #header.header-scrolled .main-menu .nav-menu ul {
      background-color: rgba(4, 9, 30, 0.9); }

@media (max-width: 673px) {
  #logo {
    margin-left: 20px; } }
#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #000;
  padding-left: 10px;
  border-left: 4px solid #0093df; }

#header #logo img {
  padding: 0;
  margin: 0; }

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px; }

  #header #logo img {
    max-height: 40px; } }

/* Navigation Menu */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  z-index: 99; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  right: 100%; }

.nav-menu ul li {
  min-width: 180px; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 12px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: -2px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }
/* Nav Meu Styling */
.nav-menu li a {
  padding: 0px;
  text-decoration: none;
  display: inline-block;
  color: #222222;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .nav-menu li a.active, .nav-menu li a:hover {
    color: #0093df !important; }

.nav-menu li:hover > a {
  color: #0093df; }

.nav-menu > li {
  margin-left: 30px; }

.nav-menu ul {
  margin: 28px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #0093df; }

.nav-menu ul ul {
  margin-right: 10px;
  margin-top: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 26px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #fff;
  font-weight: 900; }

@media (max-width: 992px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #0093df; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #0093df; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }


/* Homepage Styles */
/* Start Banner Area */
.banner-area {
  background: url(../../images/banner-bg.jpg) center;
  background-size: cover; }
  .banner-area .container-fluid {
    padding-left: 15%;
    padding-right: 20%; }
    @media (max-width: 992px) {
      .banner-area .container-fluid {
        padding-left: 10%;
        padding-right: 13%; } }
  @media (max-width: 767px) {
    .banner-area .banner-img {
      display: none; } }

@media (max-width: 767px) {
  .fullscreen {
    height: 700px !important; } }
.banner-content {
  text-align: left; }
  @media (max-width: 767px) {
    .banner-content {
      padding: 0 10%; } }
  .banner-content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 10px; }
    @media (max-width: 991.98px) {
      .banner-content h1 {
        font-size: 36px; } }
    @media (max-width: 991.98px) {
      .banner-content h1 br {
        display: none; } }
    @media (max-width: 1199.98px) {
      .banner-content h1 {
        font-size: 45px; } }
    @media (max-width: 480px) {
      .banner-content h1 {
        font-size: 32px; } }
    .banner-content h1 span {
      color: #0093df; }
  .banner-content .primary-btn {
    font-size: 13px; }
    .banner-content .primary-btn:hover {
      background-color: #fff;
      color: #0093df; }

/* About Us Area */
@media (max-width: 991px) {
  .about-area .about-left {
    text-align: center;
    margin-bottom: 50px; } }
.about-area .about-right {
  padding-left: 90px; }
  @media (max-width: 992px) {
    .about-area .about-right {
      padding-left: 15px; } }
  .about-area .about-right .single-about {
    margin-bottom: 50px; }
    @media (max-width: 768px) {
      .about-area .about-right .single-about {
        margin-bottom: 30px; } }
    .about-area .about-right .single-about h4 {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 16px; }
    .about-area .about-right .single-about p {
      margin: 0px; }

/* Feature Area */
.feature-area.section-gap {
  padding-top: 0;
  padding-bottom: 70px; }
  @media (max-width: 992px) {
    .feature-area.section-gap {
      padding-bottom: 30px; } }
.feature-area.courses {
  padding-top: 120px !important; }
  @media (max-width: 992px) {
    .feature-area.courses {
      padding-top: 80px !important; } }
  @media (max-width: 768px) {
    .feature-area.courses {
      padding-top: 60px !important; } }
.feature-area .single-feature {
  margin-bottom: 50px; }
  .feature-area .single-feature figure {
    position: relative;
    overflow: hidden; }
    .feature-area .single-feature figure img {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .feature-area .single-feature figure .overlay-bg {
      background: rgba(0, 0, 0, 0.2); }
  .feature-area .single-feature h4 {
    margin-top: 30px;
    font-size: 20px; }
  .feature-area .single-feature p {
    margin: 0; }
    .feature-area .single-feature p a {
      color: #777777;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .feature-area .single-feature:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  .feature-area .single-feature:hover p a {
    color: #0093df; }

.schedule-area {
  background: #f9f9ff;
  position: relative; }
  .schedule-area .table-wrap {
    position: relative;
    z-index: 10; }
    @media (max-width: 768px) {
      .schedule-area .table-wrap {
        overflow-x: scroll; } }
  .schedule-area .table {
    text-align: center; }
    .schedule-area .table .name {
      padding: 28px 0px; }
    .schedule-area .table tr {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .schedule-area .table tr td {
        font-weight: 400;
        vertical-align: middle; }
      .schedule-area .table tr .name {
        font-weight: 400; }
      .schedule-area .table tr:hover {
        background-color: #fff;
        color: #222222;
        box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2); }
        .schedule-area .table tr:hover td,
        .schedule-area .table tr:hover th.name {
          border: 1px solid transparent; }
  .schedule-area .thead-light th {
    background: #fff;
    border: 0;
    vertical-align: middle; }
  

/* Common Page Style */
.link-nav {
  margin-top: 10px;
  margin-bottom: 0px; }

.about-banner {
  background: url(../../images/exercise.png) right no-repeat;
  background-size: cover;
  position: relative; }

.about-content {
  padding: 74px 0px;
  text-align: center;
  margin-bottom: 190px;
  margin-top: 60px; }
  @media (max-width: 767px) {
    .about-content {
      margin-top: 70px;
      margin-bottom: 140px; } }
  @media (max-width: 576px) {
    .about-content {
      margin-bottom: 80px; } }
  @media (max-width: 420px) {
    .about-content {
      margin-bottom: 50px; } }
  .about-content h1 {
    font-size: 48px;
    font-weight: 100; }
    @media (max-width: 768px) {
      .about-content h1 {
        font-size: 35px; } }
  .about-content p {
    font-weight: 400; }
  .about-content a {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .about-content a:hover {
      color: #0093df; }
  .about-content .lnr {
    margin: 0px 10px;
    font-weight: 600; }

/* Footer */
.footer-area h4 {
  color: #fff; }
/*.footer-area .footer-bottom {
    padding-top: 40px;
    padding-bottom: 20px;
    left: -21px;
    position: absolute;
    right: 192px;
}*/
.text.text-center {
  padding-left: 343px;
}
section.banner.mt-5 {
  background: url("../images/exercise.png");
  height: 700px;
  background-size: cover;
}